/* 기본 스타일 */
body {
    margin: 60px auto;
    width: 60%;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding-left: 0; /* 리스트 아이템 왼쪽 정렬 */
}

h1, h2, h3 {
    color: dodgerblue;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-top: 1em; /* 섹션 간 여백 추가 */
}

h3 {
    font-size: 1em;
}

/* 텍스트 스타일 */
.leftContent {
    width: 20%;
    float: left; /* 내용을 왼쪽으로 정렬 */
}

.rightContent {
    width: 75%;
    float: right; /* 내용을 오른쪽으로 정렬 */
}

.grayText {
    color: gray;
}

.blackText {
    font-weight: bold;
    color: black;
}

/* 컨테이너 스타일 */
.headContainer,
.educationContainer,
.skillsContainer1, .skillsContainer2, .skillsContainer3,
.careerContainer1, .careerContainer2,
.awardsContainer1, .awardsContainer2 {
    display: flex;
    flex-wrap: wrap; /* 화면 크기에 따라 내용을 줄바꿈 */
    justify-content: space-between; /* 내용을 공간에 균등하게 분배 */
    align-items: baseline; /* 아이템들을 베이스라인에 맞춤 */
}

.skillsContainer1, .skillsContainer2, .skillsContainer3,
.careerContainer1, .careerContainer2,
.awardsContainer1, .awardsContainer2 {
    border-bottom: 1px solid gray;
    padding-bottom: 1em; /* 하단 경계선 위 여백 추가 */
}

/* 프로젝트 그리드 스타일 */
.projectsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 20px; /* 항목 사이 간격 */
}
.teamProjectContainer1, .teamProjectContainer2{
    display: flex;
}

.projectItem {
    display: flex;
    flex-direction: column; /* 내용을 세로로 쌓음 */
    align-items: center; /* 내용을 중앙 정렬 */
    width: calc(25% - 20px); /* 한 줄에 4개 항목 배치, gap 고려 */
    min-height: 400px; /* 최소 높이 설정 */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 상위 요소로부터 색상 상속 */
    overflow: hidden; /* 내용이 넘치지 않도록 처리 */
    margin: 10px;
}


.projectImage {
    max-width: 100%; /* 이미지가 컨테이너 너비를 초과하지 않도록 함 */
    height: auto; /* 이미지의 원래 비율 유지 */
    margin-bottom: 10px; /* 이미지 아래 여백 */
}

.projectInfo {
    padding: 0 5px;
}

.projectDate, .projectTitle, .projectLanguages, .languageIcon {
    margin-bottom: 5px; /* 요소들 사이의 여백 조정 */
}

/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
    body {
        width: 95%;
        margin: 20px auto;
    }

    .leftContent,
    .rightContent {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .projectItem {
        width: 100%; /* 모바일 뷰에서 너비를 100%로 조정 */
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .projectItem {
        width: 100%; /* 화면이 매우 작을 때 항목이 한 줄에 하나씩 보이도록 조정 */
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }
}